.source-list {
  height: 95%;
  margin: auto;
  width: 90%;
}
.alive-source-list,
.record-list {
  max-height: 250px;
  width: 90%;
  margin: 30px auto 0;
  overflow: hidden;
  overflow-y: auto;
}
.item-list {
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
}
.item-list.record {
  cursor: initial;
}
.disabled:hover,
.no-border {
  border: none !important;
}
.camera-img {
  width: 30px;
  height: 30px;
  margin: auto 0;
}
.item-list:hover {
  border: #292525 1px solid;
}
.source-details {
  width: 100%;
}
.source-name {
  margin: auto;
}
.source-uri {
  color: #5a5a5a;
  font-size: 0.75rem;
  margin-top: 2px;
}
.record-img {
  cursor: pointer;
  width: 30px;
  margin: auto;
  transition: all 0.35s;
}
.record-img.opac {
  opacity: 0.4;
}
