.control-panel {
  height: 95%;
  margin: auto;
  width: 90%;
}
.source-list {
  max-height: 250px;
  width: 90%;
  margin: 30px auto 0;
  overflow: hidden;
  overflow-y: auto;
}
.item-list {
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.disabled:hover {
  border: none !important;
}
.camera-img {
  width: 30px;
  height: 30px;
}
.item-list:hover {
  border: #292525 1px solid;
}
.source-name {
  margin: auto;
}
.source-uri {
  color: #5a5a5a;
  font-size: 0.75rem;
  margin-top: 2px;
}
.item-list .remove {
  color: red;
}
.item-list button {
  width: 25px;
}
.item-list button:disabled {
  width: 25px;
  opacity: 0.5;
  cursor: not-allowed;
}
.add-btn {
  background-color: #292525;
  color: white;
  width: 50%;
  height: 50px;
  margin: 50px auto 0;
}
.record {
  height: 25px;
  width: 90%;
  display: flex;
  margin: 20px auto 0;
  justify-content: space-around;
}
.record-button {
  background-color: red;
  border: 5px solid black;
  border-radius: 50%;
  width: 25px;
}

.flex {
  display: flex;
}
