.media-screen {
  width: 95%;
  height: 93%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.width-50p {
  width: 50%;
  height: 100%;
}
.height-48p {
  height: 48%;
  width: 100%;
}
.height-50p {
  height: 49.8%;
  width: 100%;
}
