.users-container {
  padding: 20px;
}
.add-user {
  margin: 30px auto;
}
.admin-checkbox {
  width: fit-content;
  display: flex;
  align-items: center;
}
.admin-checkbox > label {
  margin: 0 10px 3px;
}
.sources {
  max-height: 150px;
  overflow: auto;
}
.user-sources {
  padding: 10px 50px 35px;
}
