.users-container {
  padding: 20px;
}
.add-user,
.add-source {
  margin: 30px auto;
}
.sources-title {
  margin-top: 0px;
}
.admin-checkbox {
  width: fit-content;
  display: flex;
  align-items: center;
}
.admin-checkbox > label {
  margin: 0 10px 3px;
}
.sources,
.users {
  max-height: 150px;
  overflow: auto;
}
.user-sources-tabel {
  padding: 10px 50px 35px;
}
