.navbar {
  background-color: #247516;
  height: 10%;
  box-shadow: 0px -5px 75px #247516;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar > a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.navbar > a:hover {
  text-decoration: underline;
}
